body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
#home-section {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 880px;
  padding-top: 2%;
}
div.container-div {
  text-align: center;
  padding-top: 175px;
  font-style: bold;
}
.title {
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
}
.content {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 46px;
  margin-top: -20px;
}
.button {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff5959;
  padding: 16px 20px;
  border-radius: 7px;
  font-weight: 600;
  border: none;
  font-size: 16px;
}
#donate-now-section {
  width: 100%;
  height: 850px;
}
.black-colored {
  font-size: 45px;
  color: #121212;
}
.gray-colored {
  color: #707070;
}
.orange-colored{
    color: #ff5959;
    border: 2px solid #ff5959;
    background-color: #ffe6e7;
    
}
.money-list {
  list-style: none;
  text-align: center;
}
li {
  display: inline-block;
  width: 110px;
  height: 48px;
  font-size: 30px;
  font-weight: 700;
  background-color: #f5f0f0;
  padding: 26px 3px;
  margin-right: 29px;
  border-radius: 5px;
}
.place-holder {
  display: block;
  margin-bottom: 55px;
  padding: 23px;
  margin-left: 913px;
  font-size: 18px;
  border: none;
  outline-width: 0;
  margin-top: 30px;
}
.other-amount{
    text-align: center;
}
hr {
    margin-bottom: 30px;
    margin-top: -57px;
    margin-left: 659px;
    width: 719px;
}
.one-third{
    margin: 2%;
    font-size: 16px;
    padding: 55px 19px 46px 16px;
    font-family: "Poppins", sans-serif;
}
.cards-container{
    display: flex;
    padding-left: 280px;
    padding-right: 280px;
    
}
.card-heading{
    text-align: center;
}
.first-card{
    background-color: #ebeff0;
}
.second-card{
    background-color: #fbe6e6;
}
.third-card{
    background-color: #fff1cd;
}
.main-heading{
    color: black;
}
img.card-image{
    height: 45px;
    margin: -2px
}
#footer-section{
    text-align: center;
    background-color: #121212;
    padding: 1px;
}
p.gray-colored {
    font-size: 13px;
}
h1.footer-title{
    color:#ff5959;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 300;
}
#my-updates-section{
    text-align: center;
    margin: 125px;
    padding: 42px;
}
p.gray{
    font-size: 18px;
    color: #707070;
    font-family: "Poppins", sans-serif;
}
input#email{
    width: 288px;
    height: 48px;
    padding-left: 18px;
    margin-right: -5px;
    font-size: 18px;
    background-color:#D9D9D9;
    border: none;
    border-radius: 8px 0px 0px 8px;
    outline: none;
    margin-top: 78px;
}
input.button{
    border-radius: 0px 8px 8px 0px;
}
form{
    background-color: #fff1cd;
    height: 215px;
    width: 85%;
    margin-left: 110px;
    margin-top: 35px
}

#donate-today-app{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 91px;
    background-color: #ebeff0;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 53px;
    padding-bottom: 53px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}
.half-part{
    width: 50%;
}
img.app-image {
    height: 500px;
    padding-left: 20px;
    padding-left: 182px;
}
img#qr-code {
    height: 300px;
}
.half-part.donate-content {
    margin-right: 138px;
}